#stackable-grid {
  height: 100%;
  margin: 0px;
}

#mainWrapper {
  background-color: #3a4b60;
  color: #3a4b60;
  height: 100%;
  padding: 0px !important;
}

.ui.container.flex_container {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.flex_container,
body {
  height: 100%;
  display: flex !important;
  flex-direction: column;
}
