#items-total-quantity-lbl {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#items-total-quantity-txt {
  font-family: CircularStd-Black;
  font-size: 14px;
  color: #3a4b60;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

#all-item-list-segment {
  overflow: auto;
  max-height: 43.3rem;
  margin: 0px;
  padding: 0px;
  background-color: #f0f1f3;
}

#my-item-list-segment {
  overflow: auto;
  max-height: 550px;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f0f1f3;
}

#confirm-inventory-txt {
  color: #20b118;
  font-size: 12px;
}

.ui.tabular.menu {
  border-bottom-style: none !important;
}

.ui.tabular.menu .item {
  justify-content: center;
  min-width: 50%;
  height: 40px;
}

.ui.tabular.menu .active.item {
  background-color: #f0f1f3 !important;
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #3a4b60;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

.ui.tabular.menu .item:not(.active) {
  background-color: #cccfd5;
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

.ui.segment {
  padding-left: 0px;
  padding-right: 0px;
}
