#items-total-quantity-lbl {
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#items-total-quantity-txt {
  font-family: CircularStd-Black;
  font-size: 14px;
  color: #3a4b60;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

#all-item-list-segment {
  overflow: auto;
  max-height: 550px;
  margin: 0px;
  padding: 0px;
  background-color: #f0f1f3;
}

#my-item-list-segment {
  overflow: auto;
  max-height: 550px;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f0f1f3;
}
