#flex-fill {
  flex-grow: 1;
}

#welcome-text {
  font-family: CircularStd-Medium, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  font-weight: 900;
  padding-top: 14%;
}

#your-move-text {
  font-family: CircularStd-Medium, sans-serif;
  font-size: 10px;
  color: #cccfd5;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  font-weight: 900;
  padding-top: 2%;
  margin-bottom: 0px;
}

#separator {
  border-top: 1px solid #cccfd5;
  width: 8%;
  margin-top: 0px;
}

#move-size {
  font-family: CircularStd-Medium, sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  margin: 0px;
}

#browse-our-data {
  font-family: CircularStd-Medium, sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  padding-top: 15%;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 10%;
}

#get-started-btn {
  background: #1fb118;
  border-radius: 5px;
  width: 61.3%;
  height: 50px;
  font-family: CircularStd-Medium, sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}

#illustrated-lr-img {
  /* padding: 42% 6% 5% 6%; */
  width: 290px;
  height: 170px;
  text-align: center;
  display: block;
  margin: 20px auto -30px auto;
}

#fine-print-div {
  height: 150px;
  background-color: #cccfd5;
  font-weight: bolder;
  margin: -15px;
  padding: 0px;
}

#blue-bottom-rounded-corners {
  background-color: #3a4b60;
  border-radius: 0px 0px 15px 15px;
  height: 20px;
  margin: 0px 15px 0px 15px;
  padding: 0px;
}

#fine-print {
  font-family: CircularStd-Medium, sans-serif;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 12px;
  font-weight: 400;
  margin-top: 18%;
}
