.searchBox {
  padding: 2.7%;
  width: 100%;
}

#search-input {
  padding: 0.5rem;
  outline: none;
  flex-grow: 1;
}

#cancel-btn {
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #57c3f3;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 900;
  background-color: inherit;
  border-style: none;
}

#close-search-btn {
  align-items: center;
  margin-left: -32px;
  z-index: 1;
}

.ui.icon.input > i.icon:not(.link) {
  right: auto;
  left: 10px;
}
