.listItemName {
  font-family: CircularStd-Book;
  font-size: 14px;
  color: #3a4b60;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
}

#category-header {
  background-color: #e7e8ec;
}

#category-header-text {
  float: left;
  padding-left: 5.3%;
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #3a4b60;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 900;
}

#add-btn {
  background-color: inherit;
  padding: 0px;
  width: 70px;
  height: 30px;
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #3a4b60;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  border: 1px solid #3a4b60;
  border-radius: 15px;
}

#list-item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#confirm-inventory-btn {
  background: #1fb118;
  border-radius: 5px;
  width: 93.3%;
  height: 50px;
  font-family: CircularStd-Book;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}

#aprx-val-lbl {
  background-color: #3a4b60;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#aprx-val-txt {
  font-family: CircularStd-Black;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

#items-total-lbl {
  background-color: #3a4b60;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#items-total-txt {
  font-family: CircularStd-Black;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
}

#clear-inventory-btn {
  background-color: inherit;
  font-family: CircularStd-Black;
  font-size: 12px;
  color: #f6511d;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 900;
  padding: 10px;
}

#inner-items-list {
  list-style-type: none;
  float: left;
  text-align: left;
  margin: 0px;
}

.title {
  -webkit-tap-highlight-color: #e4e7ea;
}
